

@{
    ViewBag.Title = "Write number";
}

<div>
    <h2>Wrong User  <i class="fas fa-bomb"></i></h2>
</div>

<div>
    @Html.ActionLink("Back to List", "Location")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
