

@{
    ViewBag.Title = "Write number";
}

<div>
    <h2>You was succesfully get cargo <i class="fas fa-thumbs-up"></i></h2>
</div>

<div>
    @Html.ActionLink("Back to List", "AllCargoes")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
