@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the best electronic freight exchange! <i class="fas fa-globe-europe"></i></h1>
    <p class="lead">
        You have cargo to transport
        or
        You are looking for cargo
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Freight exchange It allows you if you need a carrier for your cargo or if you are
            a carrier and are looking for cargo to transport,
            to find a solution for your business!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44341/Cargo/AllCargoes">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>If you need</h2>
        <p>In order to be able to add loads to the platform or to express a desire to transport cargo, you need to make your registration!</p>
        <p><a class="btn btn-default" href="https://localhost:44341/Register/Register">Do it here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Information for illness</h2>
        <p>We offer you up-to-date information about COVID-19 patients from different countries!</p>
        <p><a class="btn btn-default" href="https://localhost:44341/Home/Covid">See here &raquo;</a></p>
    </div>
</div>