

@{
    ViewBag.Title = "Write number";
}

<div>
    <h2>Emeil alredy exist  <i class="fas fa-bomb"></i></h2>
</div>

<div>
    @Html.ActionLink("Back to Register", "Register")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
